---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap: false
---


@charset "utf-8";

@import "so-simple";


@font-face {
  font-family: "CustomFont";
  src:  url('../../assets/fonts/TripleN.ttf');
  font-weight: 800;
}



$serif-font-family: "CustomFont", serif;
$sans-serif-font-family: "CustomFont", sans-serif;
$monospace-font-family: "CustomFont", monospace;

$base-font-family: $sans-serif-font-family;
$headline-font-family: $sans-serif-font-family;
$title-font-family: $serif-font-family;
$description-font-family: $serif-font-family;
$meta-font-family: $serif-font-family;

.site-description, {
  font-family: $base-font-family;
  font-size: 30px;
}

body, p{
  font-family: $base-font-family;
  font-size: 28px;
  text-align: justify;
}

em {
  font-family: $base-font-family;
  font-size: 24px;
  text-align: justify;
}

h1, h2, h3, h4, h5, .site-nav, h1.page-title {
  font-family: $base-font-family;
  font-size: 40px;
}

h3.entry-title{
  font-family: $base-font-family;
  font-size: 50px !important;
}

span.page-pagination-title, a.u-url{
  font-family: $base-font-family;
  font-size: 20px !important; 
}

.site-title, {
  font-family: $base-font-family;
  font-size: 70px;
}

.entry-image { width: 40%;  display: block; margin-left: auto;  margin-right: auto; }

.page-image { width: 25%; display: block; margin-left: auto;  margin-right: auto;}